<input
  type="text"
  class="place-autocomplete"
  disabled="disabled"
  ...attributes
  {{did-insert this._initialize}}
  {{did-update this._update this._options}}
  {{will-destroy this._destroy}}
/>
{{! template-lint-disable no-inline-styles }}
<div class="pac-container pac-logo" style="display: none;"></div>